@media (max-width: 1200px)
    .container
        max-width: 960px

@media (max-width: 992px)
    .container
        max-width: 700px
    .form
        &__input
            margin-left: auto
            width: 340px
    .logo
        &__img
            width: 133px
    .header
        &-top
            padding-bottom: 23px
        &-menu
            &__item
                font-size: 12px
                line-height: 15px
            &__list
                padding: 23px 0
        &__wrapper
            display: flex
            flex-basis: 66.6%
@media (max-width: 768px)
    .container
        max-width: 700px
        width: 90%
    .header
        &-menu
            display: none
        &-top
            padding-top: 28px
            &__form, &__user
                display: none
    .form
        display: none
    .menu
        &-btn
            width: 16px
            height: 11px
            display: flex
            flex-direction: column
            justify-content: space-between
            align-items: center
            border: none
            cursor: pointer
            background-color: transparent
            &__line
                width: 16px
                height: 1px
                background-color: $textColor
    .hotel-left
        justify-content: space-between
        align-items: baseline
    .stars
        flex-basis: auto
    .hotel-name
        flex-basis: 100%
    .hotel-offer
        order: -1
        margin-bottom: 10px
    .hotel-rating
        display: none
@media (max-width: 576px)
    .container
        width: 92%
    .logo
        &__img
            width: 99px
