*
    box-sizing: border-box
body
    font-family: 'Mulish', sans-serif
    color: $textColor
    background-color: $bgColor
.container
    max-width: 1110px
    margin: auto
img
    max-width: 100%
ul
    max-resolution: 0
    list-style: none
    margin: 0
    padding: 0
a
    text-decoration: none
    color: inherit
h1
    padding: 0
    margin: 0
p
    margin: 0
.button
    &_prime
        background: $primaryColor
        border-radius: 3px
        color: $lightColor
        border: none
.section
    &__title
        font-weight: 300
        font-size: 24px
        line-height: 30px
        &_strong
            font-weight: bold
            font-size: 36px
            line-height: 45px
            text-transform: uppercase
