.header
    background-color: #ffffff
    &-top
        display: flex
        align-items: center
        justify-content: space-between
        padding-top: 40px
        padding-bottom: 40px
        &__menu-btn
            display: none
    &-menu
        width: 100%
        background-color: $darkColor
        &__list
            display: flex
            justify-content: space-between
            padding: 31px 0
            font-size: $textSize
        &__item
            text-transform: uppercase
        &__link
            color: $lightColor
    &__wrapper
        display: flex
        align-items: center
.logo
    margin-right: 108px
    &__img
        width: 177px
.form
    display: flex
    position: relative
    overflow: hidden
    border-radius: 6px
    height: 40px
    &__input
        width: 350px
        height: 100%
        padding-left: 23px
        padding-right: 19%
        background-color: #F5FAFE
        border: none
        color: #333333
        font-size: 12px
        line-height: 15px

    &__button
        position: absolute
        top: 0
        right: 0
        height: 100%
        width: 19%
        border: none
        background-color: $primaryColor
.avatar
    margin-right: 18px
.user
    display: flex
    align-items: center
    text-decoration: none
    color: inherit
    font-style: $textSize
    &__avatar
        width: 40px
        height: 40px
        object-fit: cover
        border-radius: 50%
