.hotel-text
    padding: 24px 70px
.hotel-info
    display: flex
    justify-content: space-between
    align-items: center
.hotel-left
    display: flex
    flex-wrap: wrap
    align-items: center
.stars
    flex-basis: 100%
.hotel-name
    margin: 0 23px 0 0
.hotel-offer
    font-size: 10px
    padding: 3px 9px 4px 9px
.hotel-discription
    flex-basis: 100%
.hotel-rating
    padding: 9px 6px 6px 6px
    font-size: $btnTextSize
    text-align: center

    width: 64px
    height: 45px
.hotel-rating__counter
    font-weight: bold
    font-size: 14px
    line-height: 18px
